*{
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
 display: none;
}

/* Navbar css code */
.navbar{
  display: flex;
  background-color: black;
  color:white;
  align-items: center;
  height: 37px;
}
.navbar div:nth-child(1) a{
  font-weight: bold;
  font-size: 20px;
  margin: 0px 28px;
  text-decoration: none;
  color:white;
}
.navbar div:nth-child(2) a{
  text-decoration: none;
 color: white;
}

/*Rest css code */
.container{
  margin:auto;
  margin-top: 2vh;
  width: 500px;
}
.container div{
  font-weight: bold;
    font-size: 25px;
    text-align: center;
}
.container p{
  text-align: center;
  font-size: 17px;
}
.main-container{
  box-sizing: border-box;
  border-radius: 10px;
  width: 500px;
  margin: 20px auto;
  padding: 15px 10px;
  background-color: white;
  filter: drop-shadow(0px 1px 3px rgb(127, 108, 108));
}
#alltext{
  height: 250px;
  margin: 12px 4px;
  overflow: auto;
}
button{
  padding: 7px 7px;
  cursor: pointer;
  border: none;
  background: #7d997d;
  border-radius: 5px;
  color: white;
  margin: 5px 5px;
}
.buttons{
  display: flex;
  justify-content:flex-start;
  flex-wrap: wrap;
}
.alerttext{
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 18px;
margin: 0px 12px;
}
@media screen and (max-width:550px) {
  .container{
    width: 95vw;
   }
   .main-container{
    width: 95vw;
   }
}
.alert{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: #8fc78f;
}

.aboutcontainer{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.developerinfo{
  margin: 15px;
  width: 350px;
}
.developerinfo2{
  width: 350px;
  margin: 15px;
}
.developerinfo div:nth-child(1){
  font-weight: bold;
  font-size: 23px;
}
.developerinfo div:nth-child(2){
  font-size: 16px;
  color: #638343;
  font-weight: 600;
  margin: 10px 0px;
}
.developerinfo div:nth-child(3){
  margin :10px 0px;
}
.developerinfo div:nth-child(3) span{
  font-size: 15px;
  background: #5555a1;
  color: white;
  padding: 2px 9px;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px 0px;
}
.developerinfo2 img{
  width: 170px;
  border-radius: 120px;
}
.sociallink{
  font-size: 23px;
  margin: 3px 11px;
  cursor: pointer;
  color: #09095a;
}
@media only screen and (max-width:550px){
  .aboutcontainer{
      flex-direction: column;
  }
  .developerinfo{
      width: 90vw;
  }
  .developerinfo2{
      width: 90vw;
  }
}

